<%
	var result = data.result;
	var rows = [];
%>
<div class="container">
	<div class="row">
		<h2 class="title">Results for <%=data.baseUrl%></h2>
		<h4 class="title">(<%=Object.keys(result).length%> URLs found and tested)</h4>
	</div>
	<div class="row">
		<div class="span3 pull-right">
			<h4 class="pull-left" style="position: relative; left: 20%; top: 5px;">View:</h4>
			<div class="btn-group toggleCode pull-right">
			  <button class="btn active">Response</button>
			  <button class="btn">Code</button>
			</div>
		</div>
	</div>
</div>



<table id="results" class="table table-bordered table-striped">
	<thead>
		<tr>
			<th style="width: 10%;">URL Provided to Server Component</th>
			<th class="response">Response From <%=data.scUrl1%></th>
			<th class="response">Response From <%=data.scUrl2%></th>
			<th class="code hide">Code Delivered By <%=data.scUrl1%></th>
			<th class="code hide">Code Delivered By <%=data.scUrl2%></th>
		</tr>
	</thead>
	<tbody>
		<% Object.keys(result).forEach(function(key) {
				var val = result[key];
		%>
		<tr id="<%= result.id %>">
			<td><%=key.replace(data.baseUrl, '')%></td>
			<td class="response">
				<button class="copy-button btn btn-mini pull-right" data-clipboard-text="<%=val[data.scUrl1].response%>">
					<i class="icon-file"></i>
				</button>
				<pre class="prettyprint language-js"><%=val[data.scUrl1].response%></pre>
			</td>
			<td class="response">
				<button class="copy-button btn btn-mini pull-right" data-clipboard-text="<%=val[data.scUrl2].response%>">
					<i class="icon-file"></i>
				</button>
				<pre class="prettyprint language-js"><%=val[data.scUrl2].response%></pre>
			</td>
			<td class="code hide">
				<button class="copy-button btn btn-mini pull-right" data-clipboard-text="<%=val[data.scUrl1].code%>">
					<i class="icon-file"></i>
				</button>
				<pre class="prettyprint linenums language-js"><%=val[data.scUrl1].code%></pre>
			</td>
			<td class="code hide">
				<button class="copy-button btn btn-mini pull-right" data-clipboard-text="<%=val[data.scUrl2].code%>">
					<i class="icon-file"></i>
				</button>
				<pre class="prettyprint linenums language-js"><%=val[data.scUrl2].code%></pre>
			</td>
		</tr>
		<% }); %>
	</tbody>
</table>
